*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    display: block;
    align-items: center;
    justify-content: center;
    background: #dadae0;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
}

.fab{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    width: 60px;
    height: 60px;
    margin: 30px;
    border-radius: 100%;
    background: #69B0AC;
    box-shadow: 0 5px 10px rgba(105, 176, 172, 0.2);
    cursor: pointer;
}

.fab:hover{
    opacity: 0.8;
}

.fab-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 14px;
}

.pannel{
    position: absolute;
    box-sizing: border-box;
    padding: 20px;
    border: 3px solid #268785;
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(38, 135, 133, 0.2);
    background-color: #f4f4f9;
}

.pannel-top{
    display: flex;
    margin-bottom: 20px;
}

.btn-image-pannel{
    width: 14px;
    height: 14px;
    margin-right: 20px;
    cursor: pointer;
}

button, .submit{
    position: relative;
    left: 50%;
    width: auto;
    transform: translate(-50%, 0);
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    background: #69B0AC;
    color: white;
    border: 1px solid #268785;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(38, 135, 133, 0.2);
    
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}

button:hover, .submit:hover{
    opacity: 0.8;
}

h1{
    text-transform: capitalize;
}

h4{
    color: #5e5e5e;
    margin-top: 10px;
    font-weight: 500;
}

.h4-span{
    font-weight: 600;
}

.h4-not-valid{
    font-weight: 600;
    color: #c23b3b;
    margin-left: 5px;
}

.h4-required{
    display: inline-flex;
}

form{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-alert-failed{
    padding: 10px;
    width: 100%;
    border: 1px solid #5e5e5e;
    border-radius: 5px;
    background: #c23b3b;
    color: #f4f4f9;
}

.form-alert-success{
    padding: 10px;
    width: 100%;
    border: 1px solid #268785;
    border-radius: 5px;
    background: #b6d6d4;
    color: #268785;
}

input, textarea{
    width: 100%;
    border: 1px solid #dadae0;
    border-radius: 5px;
    padding: 2px;
}

.input-not-valid{
    border: 1px solid #c23b3b;
}

.lottie-player{
    display: none;
    background: "transparent";
    width: 100px;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: -20px;
}